.bash_history
.cache

#Ignore images inside Wallpaper folder but not the folder
Wallpapers/*
!Wallpapers/.gitkeep

#Add GTK themes folder to git
.themes/*
!.themes/.gitkeep

#Add icons folder to git
.icons/*
!.icons/.gitkeep

#Ignore ssh keys
.ssh/*
!.ssh/config

#Keep screenshots folder
Pictures/Screenshots/*
!Pictutes/Screenshots/.gitkeep
